<%- include('../includes/head'); %>
<%- include('../includes/nav'); %>

    <div class="container">
      <div class="row">
        <div class="class col-lg-2"></div>

        <div class="col-lg-8 my-3">
          <h1 class="text-center">Editar contato</h1>
        </div>
        <div class="row">
          
          <%- include('../includes/messages'); %>

        
            <form action="/contact/edit-contact/<%= contact._id%>" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="form-group">
                  <label>Nome</label>
                  <input value="<%= contact.name %>" type="text" class="form-control" name='name' placeholder="Nome">
                </div>
                <div class="form-group">
                  <label>Apelido</label>
                  <input value="<%= contact.surname %>" type="text" class="form-control" name="surname" placeholder="Apelido">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input value="<%= contact.email %>" type="email" class="form-control" name='email' placeholder="Email">
                  </div>
                  <div class="form-group">
                    <label>Número Telemóvel</label>
                    <input value="<%= contact.phonenumber %>" type="tel" class="form-control" name="phonenumber" placeholder="Número Telemóvel"
                      style="margin-bottom: 10px;">
                  </div>
                <button type="submit" class="btn btn-primary">Editar contato</button>
              </form>
            
      
          
        </div>
      </div>
    </div>

    <%- include('../includes/footer'); %>
