<%- include('../includes/head'); %>
<%- include('../includes/nav'); %>

<div class="container">
  <div class="row">
    <div class="class col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Contatos</p>
    </div>
    <div class="row">
      
      <%- include('../includes/messages'); %>
    
      <a href="/contact/create-contact" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Criar pessoa</a>

      <div class="responsive-table my-3">
        <table class="table">
          <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Email</th>
            <th>Número de Telefone</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
          <% contacts.forEach(contact => { %>
            <tr>
              <td><%= contact.name %></td>
              <td><%= contact.surname %></td>
              <td><%= contact.email %></td>
              <td><%= contact.phonenumber %></td>
              <td><a href="/contact/<%= contact._id %>">Editar</a></td>
              <td><a class="delete-row" data-contact-id="<%= contact._id %>">Eliminar</a></td>
            </tr>
          <% }); %>
        </table>
        
      </div>
      
    </div>
  </div>
</div>

<script>
  document.getElementById('deleteRow')
</script>

<%- include('../includes/footer'); %>
